* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #434b53;
}
a {
  text-decoration: none;
}
ul li,
ol li {
  list-style: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
.logo {
  line-height: 1.5;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.page-header .logo {
  font-weight: 900;
  font-size: 25px;
  color: #275f7a;
}
.page-footer .logo {
  font-weight: 400;
  font-size: 30px;
  color: #fff;
}
.menu-main {
  display: flex;
  gap: 40px;
}
.menu-main .link {
  font-weight: 500;
  color: #2e363e;
}
.menu-main .link.active,
.menu-main .link:hover,
.menu-main .link:focus {
  color: #275f7a;
}
.contacts .link {
  font-weight: 700;
  line-height: 1.52;
  text-align: right;
  color: #275f7a;
  font-style: normal;
}
.page-header {
  border-bottom: 3px solid #275f7a;
  padding-top: 34px;
  padding-bottom: 34px;
}
.container {
  width: 1170px;
  margin: auto;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* ===============hero================= */
.hero {
  padding: 100px 0;
}

.hero .left {
  padding-top: 136px;
}

.hero .title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #2e363e;
}

.hero .text {
  font-size: 21px;
  line-height: 1.6;
  letter-spacing: -0.01em;
}
.hero .btn {
  color: #fff;
  border-radius: 5px;
  padding: 20px 50px;
  background: #275f7a;
  border: none;
}
.hero .btn:hover,
.hero .btn:focus {
  background: #1b4357;
}

/* ===============/hero================= */
/* ================beneffits============= */
.beneffits {
  background: #275f7a;
  padding: 100px 0;
}

.beneffits .title {
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.beneffits h2.title {
  font-size: 36px;
  line-height: 1.33;
}
.beneffits h3.title {
  font-size: 22px;
  line-height: 1.43;
}

.beneffits .item {
  width: calc(100% / 3);
  margin-right: 53px;
}
.beneffits .item:last-child {
  margin-right: 0;
}
.beneffits .img {
  margin: 0 auto;
}
.beneffits .text {
  color: #fff;
}
/* ==================/beneffits============= */

/* ==================section-feedback============= */
.section-feedback {
  background-color: #275f7a;
  overflow: hidden;
  padding: 100px 0;
}
.section-feedback .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.255;
  letter-spacing: 0.03em;

  color: #fff;
  width: 440px;
  margin-bottom: calc(50px + 41px);
}
.section-feedback .top-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: justify;
  color: #fff;
}

.section-feedback .list {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  gap: 35px;
}
.section-feedback .list .item {
  background-color: #fff;
  width: calc((100% - 35px * 2) / 3);
  border-radius: 5px;
  padding: 0 18px 18px;
}
.section-feedback .list .item img {
  margin: -41px auto 12px auto;
}
.section-feedback .list .item h3 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}
.section-feedback .list .item p {
  font-size: 11px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: center;
  color: #696969;
}

.section-feedback .top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 19px;
}
.section-feedback .line {
  width: 143px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
}
/* ==================/section-feedback============= */
/* ================footer================ */
.footer {
  background-color: #275f7a;
}
.footer .logo {
  font-size: 30px;
  color: #fff;
}

.footer .contacts .link {
  font-size: 30px;
  line-height: 1.1;
  color: #fff;
}
/* ===================/footer============== */
