body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #434b53;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.page-header {
  border-bottom: 3px solid #275f7a;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  line-height: 1.5;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.header-logo {
  font-weight: 900;
  font-size: 25px;
  color: #275f7a;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}
/* .header-nav-item:not(:last-child) {
  margin-right: 40px;
} */
.header-nav-link {
  display: block;
  font-weight: 500;
  color: #2e363e;
  padding: 34px 0;
}
.header-nav-link.active,
.header-nav-link:hover,
.header-nav-link:focus {
  color: #275f7a;
}
.header-contacts-link {
  font-weight: 700;
  line-height: 1.52;
  text-align: right;
  color: #275f7a;
  font-style: normal;
}

/* ===============hero================= */
.hero {
  padding: 100px 0;
}

.hero-container {
  display: flex;
  align-items: center;
}
.hero-title {
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #2e363e;
  margin-bottom: 25px;
}

.hero-text {
  font-size: 21px;
  line-height: 1.6;
  letter-spacing: -0.01em;
  margin-bottom: 25px;
  max-width: 434px;
}
.hero-btn {
  color: #fff;
  border-radius: 5px;
  padding: 20px 50px;
  background: #275f7a;
  border: none;
}
.hero-btn:hover,
.hero-btn:focus {
  background: #1b4357;
}

/* ===============/hero================= */
/* ================beneffits============= */
.beneffits {
  background: #275f7a;
  padding: 100px 0;
}
.beneffits-list {
  display: flex;
  /* justify-content: space-between; */
  gap: 53px;
}
.beneffits-title {
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}

.beneffits-item-title {
  font-size: 22px;
  line-height: 1.43;
  text-align: center;
  color: #fff;
  margin-bottom: 4px;
}

.beneffits-item {
  width: calc((100% - 106px) / 3);
}
.beneffits-img {
  margin: 0 auto 11px;
}
.beneffits-item-text {
  color: #fff;
}
/* ==================/beneffits============= */
/* ==================about============= */
.about {
  padding: 100px 0;
}
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-title {
  max-width: 376px;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  color: #2e363e;
  margin-bottom: 20px;
}
.about-text {
  max-width: 527px;
  font-size: 21px;
  line-height: 1.43;
  letter-spacing: -0.01em;
  margin-bottom: 28px;
}
.about-list {
  display: flex;
  gap: 30px;
}
.about-item {
  flex-basis: 100%;
  max-width: 167px;
}
.about-item-title {
  font-size: 30px;
  line-height: 1.33;
  color: #275f7a;
  margin-bottom: 6px;
}
.about-item-text {
  font-size: 14px;

  color: #2e363e;
}
/* ==================/about============= */
/* ==================section-feedback============= */
.section-feedback {
  background-color: #275f7a;
  overflow: hidden;
  padding: 100px 0;
}
.section-feedback .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.255;
  letter-spacing: 0.03em;

  color: #fff;
  width: 440px;
  margin-bottom: calc(50px + 41px);
}
.section-feedback .top-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: justify;
  color: #fff;
}

.section-feedback .list {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  gap: 35px;
}
.section-feedback .list .item {
  background-color: #fff;
  width: calc((100% - 35px * 2) / 3);
  border-radius: 5px;
  padding: 0 18px 18px;
}
.section-feedback .list .item img {
  margin: -41px auto 12px auto;
}
.section-feedback .list .item h3 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}
.section-feedback .list .item p {
  font-size: 11px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: center;
  color: #696969;
}

.section-feedback .top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 19px;
}
.section-feedback .line {
  width: 143px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
}
/* ==================/section-feedback============= */
/* ================footer================ */
.footer {
  background-color: #275f7a;
}
.footer .logo {
  font-size: 30px;
  color: #fff;
}

.page-footer .logo {
  font-weight: 400;
  font-size: 30px;
  color: #fff;
}
.footer .contacts .link {
  font-size: 30px;
  line-height: 1.1;
  color: #fff;
}
/* ===================/footer============== */
